*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #001e4d ;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;

    padding: 30px;

}


.app h1{
    font-weight: 25px;
    font-weight: 600;
    color: #001e4d;
    border-bottom: 1px solid #333 ;
    padding-bottom: 30px ;
}
.quiz{
    padding: 20px 0;
}
.quiz h2 {
    font-size: 21px;
font-size: 25px;
}
.btn{
    background-color: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border:  1px solid;
    cursor: pointer;
    padding: 10px;
    margin: 12px 0;
    text-align: left;
    border-radius: 8px;
    transition: all 0.4s;
}

.btn:hover:not(:disabled) {

background-color: #222;
color: white;
}

.btn:disabled{
    cursor: no-drop;
}
#next{
    background-color: white;
    color: #222;
    width: 25%;
    border:  1px solid;
    margin: 12px 0;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    border-radius: 8px;
    

}

.correct{
    background-color: rgb(79, 228, 79);
}
.incorrect{
    background-color: rgb(232, 118, 118);
}